## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN' , 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df["APPLICATION_TYPE"].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
from IPython.core import application
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df["CLASSIFICATION"].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value = classification_count[classification_count > 1]
classification_value

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df[:5]

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns = "IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

**Attempt 1**

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# 41 inputs (41 columns) -> 80 neurons on 1st layer -> 40 neurons on 2nd layer -> 20  neurons on 3rd layer-> 1 output (0 or 1)
nnModel = tf.keras.models.Sequential()

# First hidden layer
nnModel.add(
    tf.keras.layers.Dense(input_dim=43, units=80, activation='relu')
)

# Second hidden layer
nnModel.add(
    tf.keras.layers.Dense(input_dim=43, units=40, activation='relu')
)

# Third Hidden Layer
nnModel.add(
    tf.keras.layers.Dense(input_dim=43, units=20, activation='relu')
)
# Output layer
nnModel.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)

# Check the structure of the model
nnModel.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 20)                820

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 7,601
Trainable params: 7,601
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nnModel.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [14]:
# Train the model
fit_nnModel = nnModel.fit(x_train_scaled, y_train, epochs=70)

Epoch 1/70
804/804 [==============================] - 7s 5ms/step - loss: 0.5682 - accuracy: 0.7217
Epoch 2/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5539 - accuracy: 0.7304
Epoch 3/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7305
Epoch 4/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7310
Epoch 5/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7329
Epoch 6/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7329
Epoch 7/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7340
Epoch 8/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7348
Epoch 9/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7345
Epoch 10/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7336
Epoch 11/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7342
Epoch 12/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7358
Epoch 13/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7352
Epoch 14/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 15/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 16/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7346
Epoch 17/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7367
Epoch 18/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7362
Epoch 19/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 20/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 21/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7362
Epoch 22/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 23/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 24/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7366
Epoch 25/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7372
Epoch 26/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 27/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 28/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 29/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7369
Epoch 30/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7380
Epoch 31/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 32/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7387
Epoch 33/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 34/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 35/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 36/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7388
Epoch 37/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7387
Epoch 38/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 39/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7379
Epoch 40/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7392
Epoch 41/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 42/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 43/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 44/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7380
Epoch 45/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 46/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7382
Epoch 47/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 48/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 49/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7394
Epoch 50/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7390
Epoch 51/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 52/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7389
Epoch 53/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 54/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7387
Epoch 55/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7388
Epoch 56/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 57/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 58/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 59/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 60/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7391
Epoch 61/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 62/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7400
Epoch 63/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 64/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7401
Epoch 65/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 66/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7394
Epoch 67/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 68/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 69/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 70/70
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7400

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nnModel.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5569 - accuracy: 0.7296 - 630ms/epoch - 2ms/step
Loss: 0.5569146871566772, Accuracy: 0.7295626997947693

**Attempt 2**

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# 41 inputs (41 columns) -> 85 neurons on 1st layer -> 45 neurons on 2nd layer -> 22 neurons on 3rd layer -> 1 output (0 or 1)
nnModel01 = tf.keras.models.Sequential()

# First hidden layer
nnModel01.add(
    tf.keras.layers.Dense(input_dim=43, units=85, activation='relu')
)

# Second hidden layer
nnModel01.add(
    tf.keras.layers.Dense(input_dim=43, units=45, activation='relu')
)

# Third Hidden Layer
nnModel01.add(
    tf.keras.layers.Dense(input_dim=43, units=22, activation='sigmoid')
)
# Output layer
nnModel01.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)

# Check the structure of the model
nnModel01.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 85)                3740

 dense_5 (Dense)             (None, 45)                3870

 dense_6 (Dense)             (None, 22)                1012

 dense_7 (Dense)             (None, 1)                 23

=================================================================
Total params: 8,645
Trainable params: 8,645
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nnModel01.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [18]:
# Train the model
fit_nnModel01 = nnModel01.fit(x_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5712 - accuracy: 0.7200
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7284
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7292
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7301
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7316
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7328
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7323
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7329
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7366
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7371
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7362
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7366
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7370
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7368
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7373
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7370
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7375
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7380
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7384
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7387
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7379
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7394
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7394
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7396
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7386
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7389
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7389
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7399

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nnModel01.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5545 - accuracy: 0.7298 - 470ms/epoch - 2ms/step
Loss: 0.5544701218605042, Accuracy: 0.7297959327697754

**Attempt 3**

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# 41 inputs (41 columns) -> 85 neurons on 1st layer -> 45 neurons on 2nd layer -> 22 neurons on 3rd layer -> 1 output (0 or 1)
nnModel02 = tf.keras.models.Sequential()

# First hidden layer
nnModel02.add(
    tf.keras.layers.Dense(input_dim=43, units=85, activation='relu')
)

# Second hidden layer
nnModel02.add(
    tf.keras.layers.Dense(input_dim=43, units=50, activation='relu')
)

# Third Hidden Layer
nnModel02.add(
    tf.keras.layers.Dense(input_dim=43, units=32, activation='relu')
)

# Fourth Hidden Layer
nnModel02.add(
    tf.keras.layers.Dense(input_dim=43, units=15, activation='sigmoid')
)
# Output layer
nnModel02.add(
    tf.keras.layers.Dense(units=1, activation='sigmoid')
)

# Check the structure of the model
nnModel02.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 85)                3740

 dense_9 (Dense)             (None, 50)                4300

 dense_10 (Dense)            (None, 32)                1632

 dense_11 (Dense)            (None, 15)                495

 dense_12 (Dense)            (None, 1)                 16

=================================================================
Total params: 10,183
Trainable params: 10,183
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nnModel02.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [22]:
# Train the model
fit_nnModel02 = nnModel02.fit(x_train_scaled, y_train, epochs=60)

Epoch 1/60
804/804 [==============================] - 3s 2ms/step - loss: 0.5722 - accuracy: 0.7170
Epoch 2/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7301
Epoch 3/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7316
Epoch 4/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7313
Epoch 5/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7332
Epoch 6/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7302
Epoch 7/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7331
Epoch 8/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7324
Epoch 9/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7344
Epoch 10/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7335
Epoch 11/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7346
Epoch 12/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7350
Epoch 13/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7353
Epoch 14/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7359
Epoch 15/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 16/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7356
Epoch 17/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7366
Epoch 18/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 19/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7367
Epoch 20/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7363
Epoch 21/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7362
Epoch 22/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 23/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 24/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7365
Epoch 25/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 26/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 27/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7380
Epoch 28/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7383
Epoch 29/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7390
Epoch 30/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 31/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 32/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7378
Epoch 33/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 34/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7392
Epoch 35/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7384
Epoch 36/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7379
Epoch 37/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7383
Epoch 38/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 39/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7384
Epoch 40/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 41/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 42/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7387
Epoch 43/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 44/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 45/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7387
Epoch 46/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7391
Epoch 47/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7384
Epoch 48/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 49/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 50/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7387
Epoch 51/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7386
Epoch 52/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 53/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7391
Epoch 54/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7394
Epoch 55/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 56/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7393
Epoch 57/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7384
Epoch 58/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7385
Epoch 59/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 60/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7389

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nnModel02.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5548 - accuracy: 0.7294 - 454ms/epoch - 2ms/step
Loss: 0.5548268556594849, Accuracy: 0.7294460535049438

In [25]:
# Export our model to HDF5 file
nnModel.save("AlphabetSoupCharity-Optimization.h5")